@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<input @bind-value=counter />
@if(counter == 10)
{
    <p>You win !</p>
}


<button class="btn btn-primary" @onclick="myCounter">Click count</button>

@code {
    public int counter { get; set; } = 0;

    private void myCounter()
    {
        counter += 2;
    }
   
}
